body{
background: linear-gradient(135deg, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
font-family: 'Kumbh Sans', sans-serif;
}

h1{
  font-weight: 900;
  font-weight: bolder;
  font-display: block;
}

p{
  font-weight: 600;
    color: black;
}

button{
  background-color: transparent;
  border-bottom: 0.5px solid black;
  height:50px;
}

.card{
  width: 950px;
  height: 520px;
  background-color: white;
  border-radius: 1em;
  position: absolute;
  top: 25%;
  left: 25%;
  margin: -25px 0 0 -25px;
  overflow: hidden;
}

#woman-online{
  width:50%;
  height:60%;
  position: absolute;
  margin-top: 10%;
  margin-left: -9%;
  z-index: 2;
}

#bg-pattern{
  width:65%;
  height:105%;
  position: absolute;
  margin-top: 0%;
  margin-left: -25%;
  z-index: 1;
}

#ill-box{
    position: absolute;
    z-index: 3;
    margin-top: 20%;
    margin-left: 17.5%;
}

.accordion-outer{
  float: right;
  width:40%;
  margin-right: 10%;
  margin-top: 5%;
  overflow: hidden;
}

.accordion{
cursor: pointer;
width: 100%;
border-top: none;
border-left: none;
border-right: none;
border-bottom: 1px solid hsl(240, 5%, 91%);
text-align: left;
outline: none;
font-size: 15px;
transition: 0.4s;
color: hsl(237, 12%, 33%);
}

.accordion:hover{
  color:hsl(14, 88%, 65%);
}

.panel {
  display: none;
  overflow: hidden;
  color: hsl(240, 6%, 50%);
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: hsl(14, 88%, 65%);
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
